*{
    margin:0px;
    padding:0px; 
}
body, html {
    height: 100%;
    font-size: 10px;
}
.background-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("hills.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.header {
    min-height: 100px;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: wheat;
    font-family: sans-serif;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.tasklist-container{
    width: 35%;
}
.searchbar {
    border-bottom: 1px solid #d49d9d78;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 70px;
    background-color: #105a5a;
}
.searchbox {
    width: 50%;
    position: relative;
    margin-left: 10px;
    height: 30px;
    background-color: #ffffffd6;
    border-radius: 5px;
}
#searchicon {
    transform: scale(1.5,1.5);
    position: relative;
    bottom: 0px;
    right: 20%;
    color: #036e6e;
}
.hide {
    display: none;
}
button,.edit,.delete:hover {
    cursor: pointer;
}
#fields-check-msg {
    margin-left: 10px;
}
#empty-msg {
    color: #b31010;
    font-size: 2rem;
    text-align: center;
    margin-top: 25%;
}
.detail {
    height: 460px;
    overflow-y: auto;
    background-color: #f5d6b3f2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    padding-top: 30px;
    width: 100%;
    font-family: sans-serif;
    flex-direction: column;
} 
.title {
    font-weight: 600;
    margin-bottom: 3px;
    color:#943413;
    font-family: system-ui;
    font-size: 2rem;
}
.task {
    padding-right: 15px;
}
.message-symbol {
    min-height: 50px;
    padding: 20px 30px 10px 30px;
}
.button {
    background-color: #d40101;
    border: none;
    color: white;
    margin-right: 5%;
    box-shadow: 1px 0px grey;
    z-index: 3;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    font-size: 2.5rem;

}
.fas {
    transform: scale(4,4);
    color: #036e6e;
}
.task {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #d49d9d78;
}
.message-discription {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    width: 100%;
    color: #b98e0c;
    padding-right: 5%;
}
.edit-task{
    display: flex;
    justify-content: flex-end;
    margin:5px 10px 5px 0;
    color: #4e7575;
}
.edit {
    margin-right:15px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 5; 
    padding-top: 10%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    font-size: 1.5rem;
}
label {
    margin-right: 10px;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    font-size: 1.7rem;
    color: #d83f10;
    padding: 10px;
    border: 1px solid #888;
    width: 30%;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}
#task-name {
    width: 50%;
}
.modal-task-detail {
    margin-top: 10px;
    display: flex;
}
.submit-btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit-task {
    margin-top: 10px;
    background-color: #0a7777;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

@media screen and (max-width: 600px) {
    html,body{
        font-size: 10px;
    }
    .tasklist-container {
        width: 85%;
    }
    .detail {
        height: 400px;
    }
    .modal-content {
        width: 70%;
    }
    .modal-task-detail {
        flex-direction: column;
    }
    textarea,.modal-task-name {
        margin-top: 10px;
    }
}