*{
    margin:0px;
    padding:0px; 
}
body, html {
    height: 100%;
    font-size: 10px;
}
.background-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("hills.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.header {
    min-height: 100px;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: wheat;
    font-family: sans-serif;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.tasklist-container{
    width: 35%;
}
.detail {
    height: 500px;
    overflow-y: auto;
    background-color: #f5d6b3f2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    padding-top: 30px;
    width: 100%;
    font-family: sans-serif;
    flex-direction: column;
} 
.title {
    font-weight: 600;
    margin-bottom: 3px;
    color:#943413;
    font-family: system-ui;
    font-size: 2rem;
}
.task {
    padding-right: 15px;
}
.message-symbol {
    min-height: 50px;
    padding: 20px 30px 10px 30px;
}
.button {
    background-color: #d40101;
    border: none;
    color: white;
    position: absolute;
    top: 120px;
    left: calc(100% - 40%);
    box-shadow: 1px 0px grey;
    z-index: 3;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    font-size: 16px;
}
.fas {
    transform: scale(4,4);
    color: #036e6e;
}
.task {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #d49d9d78;
}
.message-discription {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    width: 100%;
    color: #b98e0c;
    padding-right: 5%;
}
.edit-task{
    display: flex;
    justify-content: flex-end;
    margin:5px 10px 5px 0;
    color: #4e7575;
}
.edit {
    margin-right:15px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-size: 1.5rem;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-task-detail {
    margin-top: 10px;
}
#submit-task {
    margin-top: 10px;
}
.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}